html {box-sizing: border-box;
    font-size: 62.5%;}
*, *::after, *::before {
    box-sizing: inherit; }
* {
    box-sizing: border-box !important; }
html, body {
    width: 100%; }
@media (max-width: 800px) {
    html {
    font-size: 55%; } }
body {
    padding-top:10%;
    font-family: Helvetica, Arial, sans-serif;
    color: #373737;
    font-size: 2rem;
    line-height: 3.25rem;
    margin: 0; }
h1,h2 {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .08rem;
    color: #373737;
    font-weight: 700;
    margin-top: 0; }
h1 {
    font-size: 4.0rem;
    line-height: 5.25rem;
    font-weight: 500;
    margin-bottom: 4.0rem; }
p, .paragraph {
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-bottom: 2.0rem;
    margin-top: 0; }
a, .link {
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    transition: color 0.15s linear;
    text-decoration: none;
    color: darkblue;
    cursor: pointer; }

a:hover,
.link:hover {
    color: #e600b4;
    text-decoration: underline; }
hr, .divider {
    background: #e7ebee;
    border: 0;
    color: #e7ebee;
    display: block;
    font-size: 0;
    height: .3rem;
    margin: 5rem 0;
    width: 100%; }

ul{
    margin-bottom: 3rem;
    padding-left: 4rem; }

ul li{
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1rem; }

@media (max-width: 800px) {
    body {
    font-size: 1.6rem;
    line-height: 2.4rem; }

    h1 {
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin-bottom: 2.2rem; }

    h2 {
    font-size: 2.1rem;
    line-height: 2.6rem;
    margin-bottom: 2.1rem; }

    p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.6rem; }
    ul{
    margin-bottom: 1.6rem;
    padding-left: 2rem; }
    ul li{
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 0.75rem; }

    hr {
    margin: 3rem 0 2.5rem 0; } }

.container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }

.column {
    max-width: 80rem;
    width: 80rem; }

.centered-container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    height: 100%; }

.icons-list {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; }

.icons-list__item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 33.33%;
    -moz-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    font-size: 1.9rem;
    line-height: 1.9rem;
    list-style: none;
    margin: 0 0 2.5rem;
    padding: 0; }
    .icons-list__item a {
    color: #373737; }
    .icons-list__item a:hover {
        color: #ff00c8;
        text-decoration: none; }
    .icons-list__item i {
    margin-right: .5rem; }

@media (max-width: 800px) {
    .icons-list__item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0 0 1.5rem; } }
.icons-list--two .icons-list__item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
.header-container {
    padding: 0 2rem;
    margin-bottom: 4rem;
    height: 11.5rem;
    width: 100%; }

.header {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    padding: 2rem 0; }

@media (max-width: 800px) {
    .header-container {
    height: 8rem;
    margin-bottom: 2rem; }

    .header {
    padding: 1rem 0; } }


.content__list__item {
    margin-bottom: 10rem; }
    .content__list__item:last-child {
    margin-bottom: 0; }
    .content__list__item .content .content__image {
    margin-bottom: 3rem; }
    .content__list__item .content .content__header {
    margin-bottom: 3rem; }

@media (max-width: 800px) {
    .content__list {
    margin-top: 0rem; }

    .content__list__item {
    margin-bottom: 5rem; }
    .content__list__item .content .content__image {
        margin-bottom: 1.5rem; }
    .content__list__item .content .content__header {
        margin-bottom: 1.5rem; } }
/**
    *
    **/
.content-container {
    margin-top: 4rem; }

@media (max-width: 800px) {
    .content-container {
    margin-top: 2rem; } }
/**
    * Header
    **/
.content__header {
    margin-bottom: 5.5rem; }

.content__date {
    font-family: "DINPro", Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: .08rem;
    color: #878787;
    cursor: help;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin-bottom: 1.5rem; }

.content__title {
    margin-bottom: 0; }
    .content__title a {
    color: #373737; }
    .content__title a:hover {
        text-decoration: none; }

@media (max-width: 800px) {
    .content__header {
    margin-bottom: 3rem; }

    .content__date {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 0.4rem; } }
.content__header--headline .content__date {
    display: none; }
.content__header--headline .content__title {
    font-size: 5rem;
    line-height: 7rem;
    text-align: center;
    padding-bottom: 6rem;
    margin-bottom: 4rem;
    position: relative; }
    .content__header--headline .content__title:after {
    content: '';
    width: 14rem;
    height: .5rem;
    background-color: #e7ebee;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7rem; }

@media (max-width: 800px) {
    .content__header--headline .content__title {
    font-size: 3rem;
    line-height: 4.2rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem; }
    .content__header--headline .content__title:after {
        width: 10rem;
        height: .3rem;
        margin-left: -5rem; } }
/**
    * Content section
    **/
.content__section > img,
.content__section > p > img {
    display: block;
    margin: 4rem 0;
    width: 100%; }

@media (max-width: 800px) {
    .content__section {
    margin-top: 0; }
    .content__section > p > img {
        margin: 3rem 0; } }
.profile-card {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }

.profile-card__portrait {
    margin-right: 4rem; }

.profile-card__portrait img {
    width: 12rem;
    display: block;
    margin: 0; }

.profile-card:hover .profile-card__portrait img {
    -webkit-animation: trip-balls 3s infinite;
    -moz-animation: trip-balls 3s infinite;
    animation: trip-balls 3s infinite; }
@-webkit-keyframes trip-balls {
    0% {
    -webkit-filter: hue-rotate(0deg) saturate(100%); }
    25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%); }
    50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%); }
    75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%); }
    100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%); } }
@-moz-keyframes trip-balls {}
@keyframes trip-balls {
    0% {
    -webkit-filter: hue-rotate(0deg) saturate(100%);
    filter: hue-rotate(0deg) saturate(100%); }
    25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%);
    filter: hue-rotate(90deg) saturate(400%); }
    50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%);
    filter: hue-rotate(180deg) saturate(400%); }
    75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%);
    filter: hue-rotate(270deg) saturate(400%); }
    100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%);
    filter: hue-rotate(360deg) saturate(100%); } }
.profile-card__title {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem; }

.profile-card__subtitle {
    font-size: 2.22rem;
    line-height: 2.2rem;
    margin-bottom: 1.75rem;
    font-weight: 300; }

.profile-card__subtitle {
    margin-top: 0;
    color: #878787; }

@media (max-width: 800px) {
    .profile-card {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    text-align: center; }

    .profile-card__title {
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 1rem; }

    .profile-card__subtitle {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0; }

    .profile-card__portrait {
    margin: 0 0 1.5rem 0; }

    .profile-card__portrait img {
    width: 100px; } }
.home-page {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    width: 60rem; }

.home-page__profile-card {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #e7ebee; }

.home-page__about {
    margin-bottom: 2rem; }

.home-page .social-links__item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 33.33%;
    -moz-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%; }

@media (max-width: 800px) {
    .home-page {
    width: 80%;
    margin: 0 auto; }
    .home-page .home-page__profile-card {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 2rem; }
    .home-page .social-links__item {
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        box-flex: 0;
        -webkit-flex: 0 0 50%;
        -moz-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; } }

.projects{
    line-height: 100px !important;
    text-align: center;
}