*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #d9d5d5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: white; 
}

b, strong {
    font-weight: 600;
}

footer{
    background: #5ab7a8;
    text-align: center;
}

footer h3, h4{
    color: white;
}
    
samp {
    display: none;
}

header{
    background: black;
}
header h1{
    color: white;
    width: 60%;
    display: inline;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

nav {
    background: #5ab7a8;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 10px;
    padding: 0 0.5em;
    position: relative;
}

nav ul li{
    display: inline-block;
    margin-right: 1em;
    text-decoration: none;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    padding: 0 0.5em;
}

ul{
    list-style: none;
}

#contenido{
    margin: 1em;
}

#logo #avatar{
    display: inline-block;
    width: 20%;
}

#publicar{
    text-decoration: none;
    position: absolute;
    right: 0px;
}
#publicar a{
    background: #3a766c;
    border-radius: 5px;
    padding: 1.2em;
    box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
    text-shadow: rgba(0,0,0,0.5); 5px 5px 10px;
    font-style: italic;
}

.item{
    background: white;
    margin-bottom: 3em;
    border-bottom: solid #2e7476 1em;
    min-height: 144px;
    width: 100%;
}

.img_item{
    float: left;
    margin-right: 1em;
}

.img_item img{
    width: 85px;
    margin: 0;
}

.titulo_item {
    font-style: italic;
    font-size: 1.2em;
    padding-top: 20px;
}

.autor_item {
    padding-top: 10px;
}
.autor_item a{
    text-decoration: underline;
}
.item a{
    color: #3a766c;
}

.info_item{
    margin-top: 10px;
    position: relative;
}

.tag_item{
    background: #d63f3f;
    margin-top: 10px;
    border-radius: 5px;
    padding: 0.5em;
    color: white;
}

.info_item span{
    position: absolute;
    right: 15px;
}

.img_item{}
.img_titulo{}
.img_autor{}
.img_info{}
@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
